h1 {
    text-align: center;
    ;
}

.progressBar {
    text-align: center;
    margin-bottom: 10px;
}

main {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.subtitle {
    padding: 10px;
    margin-bottom: 20px;
}